@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #1f1f1f;
}

button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.card-perspective {
  perspective: 1200px;
  height: 100%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

